$line-base: 24px;

/* font face*/

@font-face {
  font-family: 'SourceHanSerif';
  src: url("../fonts/SourceHanSans-Regular.otf");
}

/*  */
@mixin pc($width: 769px) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin sp($width: 768px) {
  @media screen and (max-width: $width) {
    @content;
  }
}

/* ズルいデザイン */

// ズルい線
@mixin line-top($op1: .2,$op2: .3){
  border-top: 1px solid rgba(0,0,0,$op1);
  @include box-shadow(rgba(255,255,255,$op2) 0 1px 0 inset);
}
@mixin line-left($op1: .2,$op2: .3){
  border-left: 1px solid rgba(0,0,0,$op1);
  @include box-shadow(rgba(255,255,255,$op2) -1px 0 0);
}
@mixin line-right($op1: .2,$op2: .3){
  border-right: 1px solid rgba(0,0,0,$op1);
  @include box-shadow(rgba(255,255,255,$op2) -1px 0 0 inset);
}
@mixin line-bottom($op1: .2,$op2: .3){
  border-bottom: 1px solid rgba(0,0,0,$op1);
  @include box-shadow(rgba(255,255,255,$op2) 0 1px 0);
}

// ズルいテキストシャドウ
@mixin ts-000($op: .4){
  text-shadow: 1px -1px rgba(0,0,0,$op);
}
@mixin ts-fff($op: .7){
  text-shadow: -1px 1px rgba(0,0,0,$op);
}

// ズルいグラデーション
@mixin gradient-top-lighten($color: #666, $lighten: 10%){
  background-color: $color;
  @include filter-gradient(lighten($color, $lighten), $color, vertical);
  @include background-image(linear-gradient(lighten($color,$lighten) 0%, $color 100%));
}
@mixin gradient-top-darken($color: #666, $darken: 10%){
  background-color: $color;
  @include filter-gradient(darken($color, $darkten), $color, vertical);
  @include background-image(linear-gradient(darken($color,$darken) 0%, $color 100%));
}

// ズルいエンボス　エンボスis何？
@mixin box-deboss($border:.1, $shadow:.1, $highlight: 1){
  border: 1px solid rgba(0, 0, 0, $border);
  @include box-shadow(rgba(0, 0, 0, $shadow) -1px 1px 2px inset, rgba(255, 255, 255, $highlight) -1px 1px 0);
}
@mixin box-emboss($border:.15, $shadow:.05, $highlight: 1){
  border: 1px solid rgba(0, 0, 0, $border);
  @include box-shadow(rgba(0, 0, 0, $shadow) -1px 1px 0px, rgba(255, 255, 255, $highlight) -1px 1px 0 inset);
}

// 色指定ボタン
@mixin button($button_color: #eee){
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: rgba(0,0,0,.1) 1px solid;
  border-radius: 4px;
  color: #222;
  display: inline-block;
  font-weight: bold;
  line-height:1em;
  min-width: 100px;
  padding:10px;
  text-align:center;
  text-decoration:none;
  transition: .3s ease-out;
  &:hover{
    background-color: rgba(0,0,0,.05);
  }
}